.card__warranty {
  padding: 60px 0 0 0;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (max-width:960px) {
  .card__warranty {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width:400px) {
  .card__warranty {
    padding: 40px 0 0 0;
  }
}
