.card__title_size_small {
  font-size: 18px;
  line-height: 18px;
}
@media screen and (max-width:960px) {
  .card__title_size_small {
    font-size: 2.5vw;
    line-height: 1;
  }
}
@media screen and (max-width:400px) {
  .card__title_size_small {
    font-size: 18px;
  line-height: 18px;
  }
}
