.section_size_n{
  max-width: calc(100% - 320px);
  margin: 0 auto;
  padding: 60px 0;
}

@media screen and (max-width:960px) {
  .section_size_n{
    max-width: calc(100% - 120px);
  }
}
@media screen and (max-width:400px) {
  .section_size_n {
    max-width: calc(100% - 40px);
    padding: 40px 0 30px 0;
  }
}
