.card__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #8E8E98;
  padding: 0 0 40px 0;
  margin: 0;
}
@media screen and (max-width:960px) {
  .card__text {
    font-size: 4.41vw;
    line-height: 1.25;
  }
}
@media screen and (max-width:400px) {
  .card__text {
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 100px 0;
  }
}
